<div class="main-app-div">
  <h1>Verify Your Lithuanian NIN</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>NIN</mat-label>
      <input
        matInput
        placeholder="12345678901"
        [(ngModel)]="value"
        name="nin-input"
        (blur)="clickedOnce = value == '' ? true : false; error = true"
        (change)="verify()"
      />
    </mat-form-field>
    <button (click)="verify()">Submit NIN</button>
  </form>

  <div class="details">
    <p *ngIf="validated">
      Hello user, <br />You're a {{ gender }} and your birthday is
      {{ dayParser() }} of {{ monthParser() }}, '{{ year }}.
    </p>
    <p class="error" *ngIf="error && clickedOnce">Invalid Details!</p>
  </div>
</div>
