.main-app-div {
  background-color: rgb(34, 167, 169);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
  font-size: 30px;
}

h1 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
  padding: 0 10px;
  margin-bottom: 50px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 5px 10px;
  background-color: rgb(19, 103, 105);
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(11, 73, 74);
}

.details {
  font-size: 23px;
  padding: 20px;
  line-height: 30px;
}

.error {
  color: rgb(201, 30, 30);
}
